body {
  background-image: url("../assets/digital4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
label {
  padding: 1rem;
}
a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: azure;
  background-color: rgb(247, 132, 151);
}
