* {
  padding: 0rem;
}
body {
  background-color: pink;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
}
.images {
  display: flex;
  height: 30vh;
}
a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: azure;
  background-color: rgb(247, 132, 151);
}
img {
  margin: 0rem 1rem;
  flex: 1;
  height: 50%;
  width: 50%;
}

